* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

#header-menu {
  width: 80%;
  margin: 0 auto;
  border: thin solid black;
}

#logo {
  float: left;
}

#header-menu img {
  width: 120px;
}

#header-login img {
  width: 40px;
}

#header-login {
  float: left;
  border: thin solid black;
}

#username {
  float: right;
  padding: 20px;
}

#news {
  float: left;
  width: 75px;
  padding: 20px;
  border: thin solid black;
}

#sport {
  float: left;
  width: 75px;
  padding: 20px;
  border: thin solid black;
}

#Weather2 {
  float: left;
  width: 95px;
  padding: 20px;
  border: thin solid black;
}

#shop {
  float: left;
  width: 70px;
  padding: 20px;
  border: thin solid black;
}

#earth {
  float: left;
  width: 75px;
  padding: 20px;
  border: thin solid black;
}

#travel {
  float: left;
  width: 80px;
  padding: 20px;
  border: thin solid black;
}

#More {
  float: left;
  width: 80px;
  padding: 20px;
  border: thin solid black;
}

#search {
  float: left;
  padding: 15px;
}

#search-input {
  border: thin solid black;
  background-color: lightgray;
  padding: 5px;
}

#search-button {
  color: white;
  background-color: black;
  padding: 5px;
}

#button-search {
  color: black;
  background-color: white;
  padding: 5px;
}

#weather-search {
  display: block;
  background-color: #067eb2;
  padding: 20px;
  font-size: 30px;
}

#weather-search h2 { float: left; line-height: 31px; margin: 0; padding-right: 30px; color: white}

#weather {
  float: left;
  padding: 10px;
  font-size: 25px;
  color: white;
  background-image: url("https://weather.files.bbci.co.uk/morph/wr-decorative-map-slice/1.0.0/img/international-map-G5.jpg");
  width: 100%;
  height: 580px;
}

#weather h3 { text-align: left;  width: 800px;}

#america {
  font-size: 35px;
  float: right;
  width: 100%;
  text-align: center;
}


#america-inner { width: 80%; margin: 0 auto; }
#america-inner h5 { text-align: left; float: left; padding-left: 125px;}

#features {
  font-size: 100%
}

.features-column {
  width: 20%;
  float: left;
}

#Settings { width: 100%; margin: 0 auto;  background-color: #F2EFEC; padding-left: 20px;}
.Settings-column { text-align: left; float: left; width: 33.333333%; padding-left: 2px;}



#moreweather h2 { width: 75%; }
#moreweather h5 { text-align: 75%; align-items: center;}

#footer-timezone {
width: 100%;
padding: 10px;
font-size: 12px;
color: black;
background-color: #F2EFEC;

}

#moreweather h2 {padding: 10px; margin: 0; }
.moreweather-row { border-top: thin solid black;}
.moreweather-column { width: 25%; float: left; padding: 2px}

#container {
  font-size: 100%;
   background-color: gray;
}

#container h2 { padding: 10px; margin: 0; }
.container-column { width: 15%; float: left; background-color: gray;padding: 10px}
