* {box-sizing: border-box;}
.clearfix {clear: both; }

#header-wrapper {
    width: 80%;
    margin: 0 auto;
    border: thin solid black;

}

#logo {float: left; }
#header-wrapper img {
    width: 100px;
}

#header-login img {
    width: 40px;

}

#header-login {
float: left;
width: 10%;
border: thin solid black;
}

#weather {
  display: block;
  background-color: DodgerBlue;
  padding: 50px;
  font-size: 60px;
}

#Weather {
 display: block;
 background-color: Blue;
 padding: 50px;
 font-size: 50px;
}
