#header-wrapper {
    width: 80%;
    margin: 0 auto;
    border: thin solid black;
}

#header-wrapper img {
    width: 100px;
}

#weather {
  display: block;
  background-color: DodgerBlue;
  padding: 50px;
  font-size: 60px;
}

#Weather {
 display: block;
 background-color: Blue;
 padding: 50px;
 font-size: 50px;
}

#america {
  font-size: 100%
}

#features {
  font-size: 100%
}
